<div>
  <h1 class="font-bold text-4xl">Diagnoses#index</h1>
  <p>Find me in app/views/diagnoses/index.html.erb</p>
  <%= params[:answer] %>

  マッチ度：
<%= @match_category_count.to_f / params[:answer].length.to_f * 100 %> %

<% @matched_power_stones.each do |power_stone| %>
  <div class="power_stone-container">
    パワーストーン名:<%= power_stone.name %><br>
    説明:<%= power_stone.overview %><br>
    タグ:
    <% power_stone.categories.each do |category| %>
    <%= category.name %>
    <% end %>
  </div>
<% end %>

<%= link_to "診断へ", diagnoses_new_path %>
<%= link_to "New power stone", new_power_stone_path %>
</div>
