<div>
  <h1 class="font-bold text-4xl">診断開始</h1>

<% categories = Category.select(&:name) %>
<% questions = [
  {title: "好きな色は？", number: 6},
  {title: "パワーストーンに求める効果は？", number: 7},
  {title: "高価な石が欲しい？", number: 3},
  {title: "希少なものが欲しい？", number: 3},
] %>
<% question_id = Category.first.id %>

<%= form_tag diagnoses_index_path, method: :get do %>
  <% questions.each do |q| %>
    <div class="question-container">
      <%= q[:title] %>
      <% categories.shift(q[:number]).each do |t| %>
        <input type="checkbox" id="checkbox<%= question_id %>" name="answer[]" value="<%= question_id %>" >
        <label for="checkbox<%= question_id %>"><%= t.name %></label>
        <% question_id += 1 %>
      <% end %>
    </div>
  <% end %>
  <%= submit_tag %>
<% end %>
</div>