<div id="<%= dom_id power_stone %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= power_stone.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Overview:</strong>
    <%= power_stone.overview %>
  </p>

  <% power_stone.categories.each do |category| %>
    <span><%= category.name %></span>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this power stone", power_stone, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this power stone', edit_power_stone_path(power_stone), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
